html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3e5f8a; 
}

hr{
    color: #808080;
}

h1, h2{
    text-transform: uppercase;
    color: #808080;
}

table{
    text-align: center;
    border: 1px solid black;
}

th, td{
    border: 1px solid black;
}
#LinkedIn{
    font-family: 'Segoe UI', Tahoma, Geneva;
}

.entidades{
    font-style: italic;
    text-decoration: underline;
    color:#808080;
}

.descripcion{
    font-style: italic;
}